#mainContainer .card-bg{
  background: #eef1f5; 
  /* background-image: url(http://a.api.dev.pupuvip.com//Common/WaterMark?content=100101-181024&textColor=ddd) */
}
.text-right{text-align: right;}
.display-none{display: none;}